
{% extends "base.html" %}


{% block title %}
Detalhes do Local
{% endblock %}


{% block css %}

<link
    rel="stylesheet"
    href="{{ url_for(
        'static',
        filename='css/locais_detalhes.css'
    ) }}"
>

{% endblock %}


{% block content %}

<div class="container">

    <div class="card">

        <h1>
            {{ local.nome }}
        </h1>


        {% if local.endereco %}

            <div class="informacao">

                <strong>
                    Endereço:
                </strong>

                {{ local.endereco }}

            </div>

        {% endif %}


        {% if local.telefone %}

            <div class="informacao">

                <strong>
                    Telefone:
                </strong>

                {{ local.telefone }}

            </div>

        {% endif %}


        {% if local.horario %}

            <div class="informacao">

                <strong>
                    Horário:
                </strong>

                {{ local.horario }}

            </div>

        {% endif %}


        <h2>
            Materiais aceitos
        </h2>


        {% if materiais %}

            <div class="materiais">

                {% for material in materiais %}

                    <div class="material">

                        <h3>
                            {{ material.nome }}
                        </h3>


                        {% if material.descricao %}

                            <p>
                                {{ material.descricao }}
                            </p>

                        {% endif %}

                    </div>

                {% endfor %}

            </div>


        {% else %}

            <p class="sem-material">

                Nenhum material cadastrado
                para este local.

            </p>

        {% endif %}


        <a
            href="{{ url_for('main.locais') }}"
            class="voltar"
        >
            Locais

        </a>
        <p></p>
        <a
            href="{{ url_for('main.index') }}"
            class="Inicio"
        >
            Início
        </a>
    </div>

</div>

{% endblock %}

