<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loguin</title>
    <link rel="stylesheet" href="/app_corrigido/app_fixed/css/loguin.css">
</head>

<body>

    <section class="conteinerLogin">
        <div class="card">
            <div class="Titulo">
                <h1>Bem-vindo!</h1>
            </div>
            
            <div class="subtitulo">
                <h5>Acesse sua conta para continuar.</h5>
            </div>
            

            <h5>E-mail:</h5>
            <input type="email" placeholder="Digite seu email...">
            <h5>Senha:</h5>
            <input type="password" placeholder="Digite sua senha...">

            <button class="logar"> <a href="/app_corrigido/app_fixed/templates/PI.html">Logar</a></button>

            <h5>Não possui conta? Clique <a href="/app_corrigido/app_fixed/templates/criarConta.html">Aqui</a> para fazer sua
                conta!</h5>
            <h5>
                <a href="/app_corrigido/app_fixed/templates/recuperar_senha.html">Deseja trocar senha</a>
            </h5>
        </div>
    </section>



</body>

</html>