{% extends "base.html" %}

{% block title %}
    Encontrar local de reciclagem
{% endblock %}

{% block content %}

<div class="container">

    <h1>♻️ O que você quer reciclar?</h1>

    <p>
        Escolha um material e encontre pontos de reciclagem
        que aceitam esse material. 
    </p>


    <form method="POST">

        <label for="id_material">
            Material:
        </label>

        <select
            name="id_material"
            id="id_material"
            required
        >

            <option value="">
                Selecione um material
            </option>

            {% for material in materiais %}

                <option value="{{ material.id_material }}">

                    {{ material.nome }}

                </option>

            {% endfor %}

        </select>


        <button type="submit">
            Encontrar locais
        </button>
        <a  
        href="{{ url_for('main.index') }}"
        class="Inicio"
        >
        Inicio
        </a>
        
    </form>


    {% if locais %}

        <h2>
            Locais que aceitam esse material
        </h2>


        {% for local in locais %}

            <div class="card">

                <h3>
                    ♻️ {{ local.nome }}
                </h3>

                <p>
                    📍 {{ local.endereco }}
                </p>

                <p>


                    {% if local.horario_abertura
                          and local.horario_fechamento %}

                        {{ local.horario_abertura.strftime('%H:%M') }}

                        -

                        {{ local.horario_fechamento.strftime('%H:%M') }}

                    {% else %}

                        Horário não informado

                    {% endif %}

                </p>


                <a
                    href="{{ url_for(
                        'main.detalhes_local',
                        id=local.id_local
                    ) }}"
                >
                    Ver detalhes
                </a>

            </div>

        {% endfor %}

    {% elif request.method == "POST" %}

        <p>
             Nenhum local encontrado para esse material.
        </p>

    {% endif %}

</div>

{% endblock %}